# Окружения
venv*/
.venv/
env/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# Модели и данные (слишком большие для git)
*.ckpt
*.pth
*.onnx
data/MVTecAD/
data/poisoned*/
data/cleaned*/
data/backdoored/
results/backdoored/
results/_tmp_backdoor_eval/
# Временные файлы защиты
results/_tmp_defense/
# Служебные папки Anomalib/Lightning
results/Patchcore/
results/*/v*/
results/cleaned_*/
results/poisoned_*/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store